<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="NORTHWNDEntities" connectionString="metadata=res://*/Repository.csdl|res://*/Repository.ssdl|res://*/Repository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\NORTHWND.MDF;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>